/coffeescript/
/cpp/
/csharp/
/ecmascript/
/elisp/
/fsharp/
/haskell/
/java/
/lfe/
/lisp/
/lua/
/objective-c/
/ocaml/
/perl5/
/php/
/plsql/
/racket/
/ruby/
/rust/
/scala/
/scheme/
/swift/

*.pyc
*.cache/
*.beam